# 3PP Requirements
click==8.2.1
numpy==2.3.2
requests==2.32.5
rich==14.1.0
soundfile==0.13.1
tqdm==4.67.1
tinytag==2.1.2
torch==2.8.0
torchaudio==2.8.0

# Certus Requirements
As-A-Person==0.1.2

# Dev requirements
coverage==7.13.1